{% extends 'exhibitionsummary/base.html' %}
{% load static %}
{% block conference %}
<section>
<div class="tablehead">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>Conference</th>
        <th>Start</th>
        <th>End</th>
        <th>Location</th>
      </tr>
    </thead>
  </table>
</div>
<div class="tablebody">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
      {% for conference in conference %}
      <tr>
        <td><a href="{% url 'exhibitionsummary:conference_detail' pk=conference.id %}">{{ conference.conference }}</a></td>
        <td>{{ conference.start }}</td>
        <td>{{ conference.end }}</td>
        <td>{{conference.venue}}</td>
      {% endfor %}
    </tbody>
  </table>
</div>
</section>
{% endblock %}
