{% extends 'exhibitionsummary/base.html' %}
{% load static %}
{% load happenings_tags %}
{% block javascript %}
<script src="{% static 'chart.js/dist/Chart.js' %}"></script>
<script src="{% static 'chart.js/dist/revenue.js' %}"></script>
{% endblock %}
{% block index %}
<div class="index">
  <div class="indexheader">
    <div id="embed-api-auth-container"></div>
  </div>
  <div class="geochart">
    <div class="header">
    Geo traffic
    </div>
    <div id="geochartcontainer"></div>
  </div>
  <div class="sessionschart">
    <div class="header">
      Hits
    </div>
    <div id="chart-2-container"></div>
  </div>
  <div class="chart3container">
    <div class="header">
      Page traffic
    </div>
    <div id="chart-3-container"></div>
  </div>
  <div class="chart4container">
    <div class="header">
      AU / NZ traffic
    </div>
    <div id="chart-4-container"></div>
  </div>
  <div class="upcoming">
    <div class="upcomingdetail">
      <a href="{% url 'exhibitionsummary:conference_detail' pk=sidebar.0.id %}">{{ sidebar.0.conference }}</a><br><br>
    {{ sidebar.0.venue }}<br><br>
    {{ sidebar.0.start }} - {{ sidebar.0.end }}<br>
    <div class="upcoming_countdown">
      <h1>{{ sidebar.0.start|timeuntil }}</h1>
    </div>
    </div>
  </div>
</div>
{% endblock %}
{% block index_tree %}
administrator dashboard
{% endblock %}
