

body {
	margin: 0;
	font-family: 'Space Mono', monospace;
}

nav {
	width: 100%;
	height: 50px;
	background-color: #dcdfe4;	
	overflow: hidden;
	margin-bottom:;
}

a {
	text-decoration: none;	
}

nav a {
	display: block;
	text-align: bottom;
	float: left;
	font-family: 'Space Mono', monospace;
	font-size: 11px;
	color: #2c313a;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-decoration: none;
}

nav a:hover {
	color: gray;
}

#logo {

	font-family: 'Ruda', sans-serif;
	font-size: 25px;
	letter-spacing: -2px;
	text-shadow: 1px 1px 1px #c4c4c4;

	padding-left: 10px;
	padding-right: 40px;
	padding-top: 23px;
	margin-right: 10px;
	margin-top: -12px;

}

#admin {
	float: right;
}

.body {
	display: grid;
	grid-template-columns: 300px 1fr ;
	grid-template-rows: 30px 100%;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 13px;
}

.strip {
	grid-column: 1;
	grid-row: 1;
	background-color: #2c313a;
	color: #dcdfe4;
	border-right: 1px solid #d7dae0;
	text-align: center;
	padding-top: 7px;


}

.strip1 {
	grid-column: 2;
	grid-row: 1;
	background-color: #2c313a;
	color: #dcdfe4;
	text-align: center;
	padding-top: 7px;

}


.side1 {
	grid-column: 1;
	grid-row: 1;
	background-color: #c5cad3;
	padding-left: 10px;
	min-height: 1000px;
	padding-right: 10px;
}

.side1 a {
	display: block;
	letter-spacing: 2px;
	font-size: 15px;
	color: #2c313a;
	text-decoration: none;
}

.side1 a:hover {
	color: #5c6370;
}


.content {
	grid-row: 2;
	grid-column: 2;
	padding-left: 10px;
	padding-top: 10px;
	background-color: ;
	color: #2c313a;
	font-family: 'IBM Plex Sans';
	font-size: 14px;
}


@media all and (min-width:0px) and (max-width: 768px) {
	.body {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 30px 30px 80px 500px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 13px;
	max-height: 100px;
}
	.strip1 {
	grid-row: 2;
	grid-column: auto;
	}


	.side1 {
	grid-row: 3;
	grid-column: 1;
	max-height: 80px;
	height: 80px;
	min-height: 80px;
	text-align: center;
	}


	.side1 p {
		display: none;
	}

	.content {
	grid-row: 4;
	grid-column: auto;
	}


}
