body {
	margin: 0;
	background-color: #fdfbfb;
	font-family: 'Ubuntu', sans-serif;
	position: relative;
	height: 100%;
}

a:visited { text-decoration: none;
 color: white;  }

.dashboard {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 250px auto;
	background-color: #ffffff;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	overflow: hidden;
	height: 100%;

}

nav {
	display: grid;
	grid-column: 1;
	grid-row: 1;
	grid-template-columns: 100%;
	grid-template-rows: 95px 500px 500px;
	grid-gap: 5px;
	background-color: #3bb78f;
	background-image: linear-gradient(315deg, #d7e153 0%, #79A447 74%);
	position: fixed;
	width: 250px;
	height: 100vh;
	z-index: 5;
}

nav p {
	font-size: 11px;
	color: white;
	padding-left: 30px;
}



#logo {
	grid-row: 1;
	height: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 30px;
}

#logo:hover {
	opacity: 0.7;
	transition: 0.5s;

}

#logomobile {
	grid-column: 1;
	height: 50px;
	width: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -17px;
}

.nav {
	grid-row: 2;
	overflow: auto;
}


.nav a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 13px;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 30px;
}

.nav i {
	font-size: 18px;
	padding-right: 10px;
}
.nav a:hover {
	background-color: rgba(76, 153, 0, 0.5);
	transition: 0.3s;
}

.nav a:active {
	background-color: rgba(76, 153, 0, 0.7);

}


.body {
	grid-row: auto;
	grid-column: 2;
	display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 100%;
	height: 100%;
}


.strip {
	grid-row: 1;
	grid-column: auto;
	background-color: #f9f9f9;
	box-shadow: 0px 2px 6px 0px rgba(140,140,140,1);
	z-index: 1;
	display: grid;
	grid-template-columns: 500px 1fr 300px;
	grid-template-rows: auto;
	color: gray;
	box-shadow: inset 0px 0px 2px 0px rgba(140,140,140,1);
	border-bottom: solid #dedede 1px;
}

.strip a {
	color: #666;
}

.tree {
	display: block;
	grid-column: 1;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	color: #666666;
	font-family: 'Ubuntu';
	padding-left: 20px;
}

.tree a {
	text-decoration: none;
}

.user {
	font-family: 'Ubuntu', sans-serif;
	grid-column: 3;
	padding-right: 20px;
	text-align: right;
	float: right;
	font-size: 14px;
	display: block;
	color: #666666;
}

.user a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: normal;
	text-align: right;
	color: #666666;
}

.strip  a:hover {
	color: #d6d6d6;
	transition-duration: 0.2s;
}

.header a:hover {
	color: #d6d6d6;
	transition-duration: 0.2s;
}

.content {
	padding: 20px;
	grid-row: 2 / span 2;
	grid-column: 1;
	display: grid;
	top: 0;
	padding-top: 0px;
	height: 100%;
	overflow-y: scroll;
	background-image: url("Logo.png");
	 background-repeat: no-repeat;
	 background-position: 90% 90%;
	 background-size: 150px;
}

.drop2 {
	display: none;
}

.version {
	font-family: 'courier', monospace;
	z-index: 3;
	padding-bottom: 10px;
	padding-right: 10px;
	font-size: 12px;
	color: #414141;
	position: fixed;
	bottom: 0;
	right: 0;
}
.rollout  {
	display: none;
	background-color: #a6c24d;
	margin-left: -20px;
	margin-top: 350px;
	width: 30px;
	height: 60px;
	z-index: 1;
	box-shadow: 1px 1px 2px 0px rgba(140,140,140,1);
	border-radius: 0px 40px 40px 0px;
	cursor: pointer;
	position: fixed;
}

.rollout:hover {
	background-color: #d7e153;
	transition: 0.4s;
}

.rollout i {
	color: white;
	margin-top: 21px;
	margin-left: 13px;
}

#countdown {
	font-family: Ruda;
	padding-top: 100px;
	padding-right: 20px;
	float:right;

}
#text {
	padding-left: 20px;
	padding-top: 10px;
	font-size: 12px;
	color: #242424;
	padding-bottom: 20px;
	float: left;

}

#text h3 {
	text-transform: uppercase;
	font-size: 13px;
}

#text h2 {
	text-transform: uppercase;
	font-size: 14px;
}


/* product table */

table{
  width:100%;
  table-layout: fixed;
}

.table {
  	margin-left: 15%;
		width: 70%;
}

.tablehead{
	background-color: #727272;
	border-radius: 10px 10px 0px 0px;
	border-bottom: solid #878585 1px 1px 0px 1px;
}

.tablebody{
  height:70vh;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(128,130,133,0.3);
	box-shadow:  0px 0px 10px 3px rgba(214,214,214,0.2);
	background-color: rgba(255, 255, 255, 0.4);
	overflow-y: scroll;
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
	font-family: Ubuntu;
}

.table a {
	color: #303030;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #303030;
  border-bottom: solid 1px rgba(128,130,133,0.7);
}


/* Index */

.index {
	height: 80vh;
	display: grid;
	grid-template-rows: 30px 400px 350px;
	grid-template-columns: 510px repeat(2, 500px) ;
	justify-content: center;
	grid-column-gap: 50px;
	align-content: space-around;
}

.index a {
	color: #2a2a2a;
}

.api-auth {
	grid-row: 1;
	grid-column: 3;
	text-align: right;
	opacity: 0.5;
	align-self: end;

}

.indexheader {
	grid-row: 1;
	grid-column: 1;
	font-size: 37px;
	text-transform: uppercase;
	color: #727272;
	padding-left: 5px;
	align-self: start;
}
.geochart {
	grid-column: 3;
	grid-row: 2;
	display: grid;
	grid-template-rows: 60px 0px 1fr;
	grid-template-columns: auto;
	color: #2a2a2a;
	overflow: hidden;
	box-shadow:  0px 0px 10px 3px rgba(214,214,214,0.1);
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px 10px 0px 0px;
}

.chart3container {
	grid-column: 1 / span 2;
	grid-row: 3;
	display: grid;
	grid-template-rows: 60px 0px 1fr;
	grid-template-columns: auto;
	color: #2a2a2a;
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow:  0px 0px 10px 3px rgba(214,214,214,0.1);
	border-radius: 10px 10px 0px 0px;
	overflow: scroll;

}

.chart3container th{
	color: gray;
}

.chart4container {
	grid-column: 2;
	grid-row: 2;
	display: grid;
	grid-template-rows: 60px 0px 1fr;
	grid-template-columns: auto;
	color: #2a2a2a;
	box-shadow:  0px 0px 10px 3px rgba(214,214,214,0.1);
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px 10px 0px 0px;


}

#geochartcontainer {
	grid-row: 3;
	justify-self: center;
	align-self: center;
}

#chart-2-container {
	grid-row: 3;
	justify-self: center;
	align-self: center;
}

#chart-3-container {
	grid-row: 3;
	justify-self: center;
	align-self: center;

}

#chart-4-container {
	grid-row: 3;
	justify-self: center;
	align-self: center;
}

.sessionschart {
	grid-column: 1;
	grid-row: 2;
	display: grid;
	grid-template-rows: 60px 0px 1fr;
	grid-template-columns: auto;
	color: #2a2a2a;
	box-shadow:  0px 0px 10px 3px rgba(214,214,214,0.2);
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px 10px 0px 0px;
}

.sessionschartcontainer {
	grid-row: 3;
	text-align: center;
}


.upcoming {
	display: grid;
	align-self: center;
	justify-self: center;
	grid-template-rows: 1fr;
	grid-template-columns: auto;
	grid-row: 3;
	grid-column: 3;
	color: #2a2a2a;
	height: 250px;
	border-radius: 10px 10px 0px 0px;
}

.upcoming h1 {
	font-size: 30px;
	padding-bottom: 20px;
	font-weight: normal;
	text-align: center;
	color: #727272;
	border-bottom: 1px solid #727272;
}


.header {
	grid-row: 1;
	grid-column: 1;
	padding-top: 20px;
	padding-left: 10px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	overflow: hidden;
	text-align: left;
	color: white;
	background-color: #727272;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0p
}

.subheader {
	grid-row: 2;
	background-color: #c1c1c1;
	text-align: center;
	padding-top: 14px;
	text-transform: bold;
	font-size: 15px;
	z-index: 3;
}

.upcomingdetail {
	grid-row: 3;
	text-align: center;
	align-self: center;
}

.upcoming_countdown h1 {
	text-align: center;
	padding-top: 10px;
	animation: pulsate1 2s ease-out;
	-webkit-animation: pulsate1 2s ease-out;
	-webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes pulsate1 {
		0% {
				color: #d7e153;
		}
		50% {
				color: #808285;
		}
		100% {
			color: #d7e153;
		}
}

/* revenue graph */


/* Conference detail */

.conference_detail {
	display: grid;
	grid-template-rows: 200px 600px;
	grid-template-columns: repeat(3, 400px);
	padding-top: 50px;
	grid-gap: 20px;
	grid-column-gap: 50px;
	justify-content: center;
	align-content: start;
}

.conference_detail a{
	text-decoration: none;
	font-size: 35px;
	color: #727272;
	text-transform: uppercase;

}

.conference_detail a:hover {
	color: lightgray;
	transition-duration: 0.5s;
}
.main_detail {
	grid-row: 1;
	grid-column: 1 / span 3;
	padding-top: 20px;
	padding-left: 20px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	border-radius: 5px 5px 0px 0px;
	overflow: hidden;
	color: #727272;
}

.conference_countdown {
	grid-row: 1;
	grid-column: 3;
	padding: 10px;
	justify-self: center;
	align-self: center;
	color: white;
	font-size: 40px;
	animation: pulsate 2s ease-out;
	-webkit-animation: pulsate 2s ease-out;
	-webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes pulsate {
    0% {
        color: #d7e153;
    }
    50% {
				color: #79A447;
    }
    100% {
			color: #d7e153;
    }
}

.conference_booth, .conference_equipment, .conference_details {
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-template-columns: auto;
}



.conference_booth-body, .conference_details-body, .conference_equipment-body {
	grid-row: 2;
	padding: 20px;
	color: #404040;
}

.conference_booth {
	grid-row: 2;
	grid-column: 1;
	background: #f2f2f2;
	padding-top: 0px;
	font-size: 14px;
	text-align: left;
	box-shadow:  0px 0px 10px 3px rgba(214,214,214,0.1);
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px 10px 0px 0px;
}

.conference_detail h5 {
	text-transform: uppercase;
	font-size: 13px;

}

.conference_detail h2 {
	text-align: center;
	padding-bottom: 20px;
	color: #474747;
	background-color:
}
.header2 {
	background-color: gray;
	grid-row: 1;
	border-radius: 10px 10px 0px 0px;
	font-size: 15px;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	overflow: hidden;
	text-align: left;
	color: white;
	background-color: #727272;
}


.conference_equipment {
	grid-row: 2;
	grid-column: 2;
	background: #f2f2f2;
	font-size: 14px;
	box-shadow:  0px 0px 10px 3px rgba(214,214,214,0.1);
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px 10px 0px 0px;
}

.conference_details {
	grid-row: 2;
	grid-column: 3;
	background: #f2f2f2;
	font-size: 14px;
	box-shadow:  0px 0px 10px 3px rgba(214,214,214,0.1);
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px 10px 0px 0px;
}



.pageheader {
	  	margin-left: 15%;
			margin-top: 3vh;
			margin-bottom: -6vh;
			font-size: 37px;
			text-transform: uppercase;
			color: #727272;

}


@media all and (min-width:0px) and (max-width: 900px) {

	body {
		margin: 0px;;
	}

	.dashboard {
		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: 1fr;
	}

	.content {
		display: grid;
		grid-template-rows: 200px 300px 500px;
		grid-template-columns: 100%;
		overflow: auto;
	}

	.body {
		grid-row: auto;
		grid-column: 1 / span 2;
		display: grid;
		grid-template-rows: 80px 1fr;
		grid-template-columns: auto;
	}

	.strip {
		width: 100%;
		background-color: rgba(224, 224, 224, 1);
		border-bottom: 1px solid rgba(224, 224, 224, 0.6);
		box-shadow: none;
	}


	.user {
		margin-top: -10px;
		margin-right: 10px;
	}

	.tree {
		display: none;
		visibility: hidden;
	}

	.maincontent {
		grid-column: auto;
		grid-row: 1;
		max-width: 100%;
		overflow: auto;
		font-size: 11px;

	}

	.calendar {
		grid-column: 1;
		grid-row: 2;
	}

	.stats {
		grid-column: 1;
		grid-row: 3;
	}

	.rollout {
		display: block;
		transition-duration: 0.5s;


	}
	.rollout i {
		transform: rotateY(180deg);
		font-size: 18px;
		transition-duration: 0.5s;

	}

	.rotate {
		transform: rotateY(180deg);
		transition-duration: 0.5s;
	}
	.iconrotate {

	}

	#logomobile {
		display: block;
		width: 170px;
		height: auto;
		margin-top: -20px;
	}
	.nav {
		margin-top: 30px;
	}

	.nav a {
		padding-top: 30px !important;
	}

	nav {
		display: none;
	}

	.activity {
		display: none;
	}

	.index {
		grid-template-rows: 20px 300px 400px 400px 400px 400px;
		grid-template-columns: auto;
	}

	.indexheader {
		grid-column: auto;
		grid-row: 1;
	}

	 .upcoming {
		grid-column: auto;
		grid-row: 2;
	}

	.geochart {
		grid-column: auto;
		grid-row: 6;
	}

	.sessionschart {
		grid-column: auto;
		grid-row: 3;
	}

	.chart3container {
		grid-column: auto;
		grid-row: 4;
	}

	.chart4container {
		grid-column: auto;
		grid-row: 5;
	}
}

.nav::-webkit-scrollbar {
    width: 10px;
}

.nav::-webkit-scrollbar-track {
	background-color: gray;
}

.nav::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid slategrey;
}
