{% load static %}
<html>
<title>Symbiotic Devices / Admin</title>
<head>
	<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Ubuntu" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'happenings/css/calendar.css' %}">
	{% block extra_css %}{% endblock extra_css %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
</head>
<body>
	<div class="dashboard">
		<nav>
			<a href="{% url 'exhibitionsummary:index' %}"><img src="{% static 'img/white.png' %}" id='logo'></a>
			<div class="nav">
				<p>MAIN</p>
				<a href="{% url 'exhibitionsummary:index' %}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
				<a href="{% url 'calendar:list' %}"><i class="fas fa-calendar-alt"></i>Events</a>
				<a href="#" id="drop1"><i class="fas fa-list-ul"></i>Exhibition Summaries</a>
			    	<div class="drop2">
			    		<a href="{% url 'exhibitionsummary:conference_detail' pk=sidebar.0.id %}">{{ sidebar.0.conference }}</a>
			    		<a href="{% url 'exhibitionsummary:conference_detail' pk=sidebar.1.id %}">{{ sidebar.1.conference }}</a>
			    		<a href="{% url 'exhibitionsummary:conference' %}">View all</a>
			    	</div>
				<a href="{% url 'exhibitionsummary:products' %}"><i class="fas fa-suitcase"></i>Products</a>
				<a href="#"><i class="fas fa-file-alt"></i>Publications</a>
			</div>
			<div class="activity">
				<p>RECENT ACTIVITY</p>
			</div>
		</nav>
		<div class="body">
			<div class="strip">
				<a href="{% url 'exhibitionsummary:index' %}"><img src="{% static 'img/white.png' %}" id='logomobile'></a>
				<div class="tree">
					{% block index_tree %}
					{% endblock %}
					{% block conference_tree %}
					{% endblock %}
					{% block conference_tree1 %}
					{% endblock %}
					{% block product_tree %}
					{% endblock %}
					{% block calendar_tree %}
					{% endblock %}
				</div>
				<div class="user">
					<a href="{% url 'admin:index' %}">{% if user.is_authenticated %}
																    {{ user.username }}
																{% else %}
																    Log in.
																{% endif %}</a>
					<br>{% now "SHORT_DATETIME_FORMAT" %}
				</div>
			</div>
			<div class="content">
				<div class="rollout"><div class="iconrotate"><i class="fas fa-angle-left"></i></div></div>
				{% block index %}
				{% endblock %}
				{% block product_table %}
				{% endblock %}
				{% block details %}
				{% endblock %}
				{% block conference %}
				{% endblock %}
				{% block content %}{% endblock content %}
				<script src="{% static 'happenings/js/calendar.js' %}"></script>
				{% block extra_js %}{% endblock extra_js %}
			</div>
			<div class="version"> Symbiotic Devices admin v1.0.1</div>
	</div>
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/js.js' %}"></script>
	<script>
	(function(w,d,s,g,js,fs){
	  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
	  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
	  js.src='https://apis.google.com/js/platform.js';
	  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
	}(window,document,'script'));
	</script>
<script>
gapi.analytics.ready(function() {
  gapi.analytics.auth.authorize({
    container: 'embed-api-auth-container',
    clientid: '260680418718-rqiue7vu7jpvhf217oeac57l5s6s4vqj.apps.googleusercontent.com'
  });
  var dataChart1 = new gapi.analytics.googleCharts.DataChart({
    query: {
			'ids': 'ga:188338612',
      metrics: 'ga:sessions',
      dimensions: 'ga:country',
      'start-date': '30daysAgo',
      'end-date': 'today',
      sort: '-ga:sessions'
    },
    chart: {
      container: 'geochartcontainer',
      type: 'GEO',
      options: {
        'width': '500',
				'backgroundColor': 'transparent',
				'color': '#D8F050',
      }
    }
  });
	dataChart1.execute();

  var dataChart2 = new gapi.analytics.googleCharts.DataChart({
    query: {
			'ids': 'ga:188338612',
      metrics: 'ga:sessions',
      dimensions: 'ga:date',
      'start-date': '30daysAgo',
      'end-date': 'today',
    },
    chart: {
      container: 'chart-2-container',
      type: 'COLUMN',
			options : {
				'width': '500',
				'backgroundColor': 'transparent',
				'colors': ['#d7e153', '#Fc4550', '#A31621', '#BEDBE7'],
					}
    }
  });
	dataChart2.execute();

	var dataChart3 = new gapi.analytics.googleCharts.DataChart({
	  query: {
	    'ids': 'ga:188338612',
			dimensions: 'ga:pagePath',
			'end-date': 'today',
			metrics: 'ga:pageviews,ga:entrances',
			sort: 'ga:pageviews'
	  },
	chart: {
    container: 'chart-3-container',
    type: 'TABLE',
		options: {
			'width': '100%',
			'backgroundColor': 'transparent',
			sortColumn: 1,
			sortAscending: false,
			}
  	}
	});
	dataChart3.execute();

	var dataChart4 = new gapi.analytics.googleCharts.DataChart({
	  query: {
	    'ids': 'ga:188338612',
	    metrics: 'ga:sessions',
	    dimensions: 'ga:city',
			'end-date': 'today',
			filters: 'ga:country==Australia,ga:country==New Zealand',

	  },
	chart: {
    container: 'chart-4-container',
    type: 'PIE',
		options : {
			'backgroundColor': 'transparent',
			'is3D': true,
			'width': '500',
			'colors': ['#d7e153', '#FDD31D', '#Fc4550', '#A31621', '#BEDBE7']
			}
  	}
	});
	dataChart4.execute();
	});
</script>
	{% block javascript %}{% endblock %}
</body>
</html>
