{% extends 'exhibitionsummary/base.html' %}
{% block details %}
<div class="conference_detail">
        <div class="main_detail">
          <a href="{{ conference.website }}"<h1>{{ conference.conference }}</h1></a>
          <h3>{{ conference.venue }}</h3>
          <p>{{ conference.start }} - {{ conference.end }}</p>
          <p>{{ conference.contact }}</p>
        </div>
        <div class="conference_countdown">
          <h1>{{ conference.start|timeuntil }}</h1>
        </div>
        <div class="conference_booth">
          <h2>Booth</h2>
          <h5>Number:</h5> {{ conference.booth }}<br>
          <h5>Setup:</h5> {{ conference.setup }}<br>
          <h5>Dismantle:</h5> {{conference.dismantle }}<br>
          <h5>Furniture:</h5> {{conference.furniture|linebreaksbr }}
          <h5>Power:</h5> {{ conference.power }}
        </div>
        <div class="conference_equipment">
          <h2>Equipment</h2>
          <h5>Brochures:</h5> {{ conference.brochures|linebreaksbr }}<br>
          <h5>Equipment:</h5> {{ conference.equipment|linebreaksbr }}<br>
          <h5>Banners:</h5> {{ conference.banners|linebreaksbr }}<br>
        </div>
        <div class="conference_details">
          <h2>Details</h2>
          <h5>Complimentary Registrations:</h5> {{ conference.registrations }}<br>
          <h5>Notes</h5> {{ conference.details|linebreaksbr }}
          <h5>Shipping address:</h5> {{conference.address }}<br>
          <h5>Shipping date:</h5> {{conference.date }}
        </div>
</div>
{% endblock %}
{% block conference_tree %}
<a href="{% url 'exhibitionsummary:index' %}">Dashboard</a> > <a href="{% url 'exhibitionsummary:conference' %}">Exhibition Summaries</a> > {{ conference.conference }}
{% endblock %}
