body {
	margin: 0;
	background-color: #fdfbfb;
	font-family: 'IBM Plex Sans', sans-serif;
	position: relative;
	height: 100%;
}

a:visited { text-decoration: none;
 color: white;  }

.dashboard {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 250px auto;
	background-color: #ffffff;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	overflow: hidden;
	height: 100%;

}
nav {
	display: grid;
	grid-column: 1;
	grid-row: 1;
	grid-template-columns: 100%;
	grid-template-rows: 95px 55% 45%;
	grid-gap: 5px;
	background-color: #3bb78f;
	background-image: linear-gradient(315deg, #d7e153 0%, #79A447 74%);
	position: fixed;
	width: 250px;
	height: 100%;
	z-index: 1;
}

nav p {
	font-size: 11px;
	color: white;
	padding-left: 30px;
}



#logo {
	grid-row: 1;
	height: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#logo:hover {
	opacity: 0.7;
	transition: 0.5s;

}

#logomobile {
	grid-column: 1;
	height: 50px;
	width: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -17px;
}

.nav {
	grid-row: 2;
	overflow: auto;
}


.nav a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 13px;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav i {
	font-size: 18px;
	padding-right: 10px;
}
.nav a:hover {
	background-color: rgba(76, 153, 0, 0.5);
	transition: 0.3s;
}

.nav a:active {
	background-color: rgba(76, 153, 0, 0.7);

}


.body {
	grid-row: auto;
	grid-column: 2;
	display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 100%;
	height: 100%;
}


.strip {
	grid-row: 1;
	grid-column: auto;
	background-color: #000000;
	background-image: linear-gradient(315deg, #2a2a2a 0%, #414141 74%);
	border-bottom: 1px solid rgba(224, 224, 224, 0.6);
	padding-top: 35px;
	padding-left: 20px;
	box-shadow: 0px 2px 6px 0px rgba(140,140,140,1);
	z-index: 1;
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-template-rows: auto;

}
.tree {
	display: block;
	float: left;
}

.tree {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	color: white;
	font-family: 'IBM Plex Sans';
	margin-left: -40px;
	margin-top: -3px;

}

.tree a {
	text-decoration: none;
}

.user {
	grid-column: 2;
	text-align: right;
	float: right;
	font-size: 12px;
	display: block;
	padding-right: 20px;
	color: white;
	margin-top: -40px;
}

.user a {
	text-decoration: none;
	font-family: 'IBM Plex Sans';
	text-transform: uppercase;
	font-weight: normal;
	text-align: right;
	color: white;
}

.strip  a:hover {
	color: #d6d6d6;
	transition-duration: 0.2s;
}

.header a:hover {
	color: #d6d6d6;
	transition-duration: 0.2s;
}

.content {
	padding: 20px;
	grid-row: 2 / span 2;
	grid-column: 1;
	display: grid;
	top: 0;
	height: 100%;
	overflow-y: scroll;background: rgb(198,198,198);
	background: rgb(247,246,246);
	background: radial-gradient(circle, rgba(247,246,246,1) 0%, rgba(245,243,243,1) 100%);
}

.drop2 {
	display: none;
}

.version {
	font-family: 'courier', monospace;
	z-index: 3;
	padding-bottom: 10px;
	padding-right: 10px;
	font-size: 12px;
	color: #414141;
	position: fixed;
	bottom: 0;
	right: 0;
}
.rollout  {
	display: none;
	background-color: #a6c24d;
	margin-left: -20px;
	margin-top: 350px;
	width: 30px;
	height: 60px;
	z-index: 1;
	box-shadow: 1px 1px 2px 0px rgba(140,140,140,1);
	border-radius: 0px 40px 40px 0px;
	cursor: pointer;
	position: fixed;
}

.rollout:hover {
	background-color: #d7e153;
	transition: 0.4s;
}

.rollout i {
	color: white;
	margin-top: 21px;
	margin-left: 13px;
}

#countdown {
	font-family: Ruda;
	padding-top: 100px;
	padding-right: 20px;
	float:right;

}
#text {
	padding-left: 20px;
	padding-top: 10px;
	font-size: 12px;
	color: #242424;
	padding-bottom: 20px;
	float: left;

}

#text h3 {
	text-transform: uppercase;
	font-size: 13px;
}

#text h2 {
	text-transform: uppercase;
	font-size: 14px;
}


/* product table */



table{
  width:100%;
  table-layout: fixed;
}

.table {
  	margin-top: 20px;
		padding: 20px;
		width: 97%;
}

.tablehead{
	background: #414141;
	border-bottom: solid #878585 1px 1px 0px 1px;
}

.tablebody{
  height:680px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(128,130,133,0.3);
	background-color: #ffffff;
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 700;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
	font-family: Ruda;
}

.table a {
	color: #303030;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #303030;
  border-bottom: solid 1px rgba(128,130,133,0.7);
}


/* Index */

.index {
	height: 90%;
	display: grid;
	grid-template-rows: 150px 1fr 1fr;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

.revenue {
	grid-column: 1 / span 2;
	grid-row: 2;
}


.line-chart {
    animation: fadeIn 600ms cubic-bezier(.57,.25,.65,1) 1 forwards;
  opacity: 0;
    max-width: 640px;
    width: 100%;
}

.aspect-ratio {
  height: 0;
  padding-bottom: 50%; // 495h / 990w
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.line-chart {
    animation: fadeIn 600ms cubic-bezier(.57,.25,.65,1) 1 forwards;
  opacity: 0;
    max-width: 640px;
    width: 100%;
}

.aspect-ratio {
  height: 0;
  padding-bottom: 50%; // 495h / 990w
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.upcoming {
	display: grid;
	grid-template-rows: 50px 1fr;
	grid-template-columns: auto;
	grid-row: 3;
	grid-column: 2;
	background-color: white;
	color: #2a2a2a;
	border-radius: 0px 0px 10px 10px;

}

.header {
	background-color: #d7e153;
	grid-row: 1;
	padding-left: 15px;
	padding-top: 15px;
	text-transform: uppercase;
	font-family: 'Ruda';
	border-radius: 10px 10px 0px 0px;
	overflow: hidden;
}

.upcomingdetail {
	grid-row: 2;
	padding-left: 20px;
}

.upcoming_countdown {
	text-align: right;
	padding-right: 20px;
	padding-top: 10px;
	animation: pulsate1 2s ease-out;
	-webkit-animation: pulsate1 2s ease-out;
	-webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes pulsate1 {
		0% {
				color: #a1a1a1;
		}
		50% {
				color: #414141;
		}
		100% {
			color: #a1a1a1;
		}
}

/* revenue graph */


/* Conference detail */

.conference_detail {
	display: grid;
	grid-template-rows: 200px 500px;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.conference_detail a{
	text-decoration: none;
	font-size: 35px;
	font-weight: bold;
	color: #d7e153;
}

.main_detail {
	grid-row: 1;
	grid-column: 1 / span 3;
	padding: 10px;
	padding-top: 15px;
	padding-left: 20px;
	background-color: #414141;
	color: white;
}

.conference_countdown {
	grid-row: 1;
	grid-column: 3;
	padding: 10px;
	justify-self: center;
	align-self: center;
	color: white;
	animation: pulsate 2s ease-out;
	-webkit-animation: pulsate 2s ease-out;
	-webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes pulsate {
    0% {
        color: #d7e153;
				text-shadow: #79A447 1px 0 10px;
    }
    50% {
				color: #79A447;
    }
    100% {
			color: #d7e153;
				text-shadow: #79A447 1px 0 10px;

    }
}

.conference_booth {
	grid-row: 2;
	grid-column: 1;
	background: #f2f2f2;
	padding: 20px;
	padding-top: 0px;
	font-size: 14px;
	text-align: left;
	border: solid 1px #9c9c9c;
}

.conference_detail h5 {
	text-transform: uppercase;
	font-size: 13px;
	text-shadow: #9c9c9c 1px 1px 1px;

}

.conference_detail h2 {
	text-align: center;
	padding-bottom: 20px;
	color: #474747;
	border-bottom: 1px solid #414141;
	text-shadow: #9c9c9c 1px 1px 1px;

}


.conference_equipment {
	grid-row: 2;
	grid-column: 2;
	background: #f2f2f2;
	padding: 20px;
	padding-top: 0px;
	font-size: 14px;
	border: solid 1px #9c9c9c;
}

.conference_details {
	grid-row: 2;
	grid-column: 3;
	background: #f2f2f2;
	padding: 20px;
	padding-top: 0px;
	font-size: 14px;
	border: solid 1px #9c9c9c;

}




@media all and (min-width:0px) and (max-width: 900px) {

	body {
		margin: 0px;;
	}

	.dashboard {
		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: 1fr;
	}

	.content {
		display: grid;
		grid-template-rows: 200px 300px 500px;
		grid-template-columns: 100%;
		overflow: auto;
	}

	.body {
		grid-row: auto;
		grid-column: 1 / span 2;
		display: grid;
		grid-template-rows: 80px 1fr;
		grid-template-columns: auto;
	}

	.strip {
		width: 100%;
		background-color: rgba(224, 224, 224, 0.2);
		border-bottom: 1px solid rgba(224, 224, 224, 0.6);
		box-shadow: none;
	}


	.user {
		margin-top: -10px;
		margin-right: 10px;
	}

	.tree {
		display: none;
		visibility: hidden;
	}

	.maincontent {
		grid-column: auto;
		grid-row: 1;
		max-width: 100%;
		overflow: auto;
		font-size: 11px;

	}

	.calendar {
		grid-column: 1;
		grid-row: 2;
	}

	.stats {
		grid-column: 1;
		grid-row: 3;
	}

	.rollout {
		display: block;
		transition-duration: 0.5s;


	}
	.rollout i {
		transform: rotateY(180deg);
		font-size: 18px;
		transition-duration: 0.5s;

	}

	.rotate {
		transform: rotateY(180deg);
		transition-duration: 0.5s;
	}
	.iconrotate {

	}

	#logomobile {
		display: block;
		width: 170px;
		height: auto;
		margin-top: -20px;
	}
	.nav {
		margin-top: 30px;
	}

	.nav a {
		padding-top: 30px !important;
	}

	nav {
		display: none;
	}

	.activity {
		display: none;
	}

}

.nav::-webkit-scrollbar {
    width: 10px;
}

.nav::-webkit-scrollbar-track {
	background-color: gray;
}

.nav::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid slategrey;
}
